<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <title>examples</title>
  <style>
    .api-container{
      width: 500px;
      float: left;
    }
    #response-container{
      margin-left: 500px;
      height: 500px;
      border: solid 1px #dfdfdf;
      border-radius: 5px;
      color: white;
      background: rgba(0, 0, 0, .8);
      padding: 5px;
    }
  </style>
</head>


<body>
  <script>

    function showResult(data){
      $('#response-container').text(JSON.stringify(data, null, 2))
    }

    function getUserList(){
      $.get('/user', (data) => {
          showResult(data)
        }
      )
    }

    function  getUserInfo(){
      $.get('/userinfo', {
          openid: $('#openid').val()
        },
        (data) => {
          showResult(data)
        }
      )
    }

    function listGroup(){
      $.get('/group', (data) => {
          showResult(data)
        }
      )
    }

    function addGroup(){
      $.post('/group', {
        "group_name": $("group_name").val()
      },(data) => {
          showResult(data)
        }
      )
    }

    function sendMessage(){
      $.post('/message', {
        "content": $("#textmsg").val()
      },(data) => {
          showResult(data)
        }
      )
    }

  </script>

  <ul class="api-container">
    <li>
      获取用户列表<button onclick="getUserList()">userlist</button>
    </li>
    <li>
      获取用户信息<input type="text" id="openid">
      <button onclick="getUserInfo()">userInfo</button>
    </li>
    <li>
      获得分组信息
      <button onclick="listGroup()">listGroup</button>
    </li>
    <!-- <li>
      创建分组<input type="text" id="group_name">
      <button onclick="addGroup()">addGroup</button>
    </li> -->

    <li>
      发送文本消息<input type="text" id="textmsg">
      <button onclick="sendMessage()">sendMessage</button>
    </li>
  </ul>


  <pre id="response-container">
    
  </pre>
</body>

</html>