<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <title>微信网页授权</title>
</head>

<body>
  <h1>跳转之后的页面</h1>
  <img
    src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTJz3liaZIp28CBwFUMKeA6zUe7WyD97MBVHwFsystQ4icGbX7mxbBEAcib8pLiceBfFfHWdbFAkGAXJbA/132"
    alt="用户头像">
  <script>
    // 第二步：通过code换取网页授权access_token
    // 获取url中的参数
    function GetQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]);
      return null;
    }
    const data = {
      code: GetQueryString("code")
    }
    $.get("http://wechatwy.free.idcfengye.com/login", data, function (result) {
      console.log(result)
    });
  </script>
</body>

</html>